{% extends 'movie_app/layout.html' %}
{% load static %}
{% block title %}
    <title>The movies project</title>
    <style>
        .centered-container {margin-top: 50px;}
    </style>
{% endblock %}
{% block content %}
<div class="d-flex justify-content-center align-items-center min-vh-100">
        <div class="centered-container text-center p-4 border rounded">
            <h1>О проекте</h1>
            <p>Добро пожаловать в наше сообщество любителей кинематографа! Мы создали этот сайт для тех, кто живет и дышит кино. Здесь вы найдете уютное место, где можно делиться своими любимыми фильмами, открывать для себя новые шедевры и обсуждать все, что связано с миром кино.

Наш сайт — это не просто каталог фильмов, а настоящая коллекция, созданная совместными усилиями. Каждый пользователь может добавить карточку фильма, заполнив ее описанием, постером и своим личным рейтингом. Таким образом, мы формируем уникальную базу данных, где каждый фильм — это не просто название, а история, которую мы все вместе пишем.

Мы верим, что кино — это не просто развлечение, а искусство, способное изменить наш мир. Поэтому мы стремимся создать платформу, где каждый найдет что-то ценное для себя, будь то классика, артхаус или новинка. Присоединяйтесь к нашему сообществу, делитесь своими впечатлениями и открывайте для себя новые горизонты кинематографа вместе с нами!

Спасибо, что вы с нами!</p>
            <img src="{% static 'movie_app/img/about.png' %}">
        </div>
</div>


{% endblock %}